<div class="row align-items-center justify-content-between h-100">
<div class="col">
<i class="fab fa-github text-github small"></i>
<a class="small" href="https://github.com/BlackrockDigital/startbootstrap-blog-post">View on GitHub</a>
</div>
<div class="col d-none d-lg-block">
<ul class="nav responsive-toggler justify-content-center" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="desktopToggle" data-toggle="tab" href="#" role="tab" aria-selected="true">
<i class="fal fa-desktop"></i>
</a>
</li>
</ul>
</div>
</div>