{% extends "layout.html" %}
{% block body %}
<hr>
<h3>{{article.title}}</h3>
<hr>
<hr>
{% if article.article_image %}
<img class="img-fluid rounded" src={{article.article_image.url}} alt="">
{% endif %}
<hr>
<p class="lead">
</p>
<p>Date : {{article.created_date}}</p>
<hr>
{{article.content|safe}}
<hr>
<hr>
<hr>
<form action="/article/comment/{{article.id}}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr"  name="comment_author">
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control" rows="5" id="comment" name="comment_content"></textarea>
  </div>
  <button type="submit" class="btn btn-danger">Add Comment</button>
</form>
{% if comments %}
{% for comment in comments %}
<div class="media mb-4">
  <div class="media-body">
    <h5 class="mt-0">{{comment.comment_author}}</h5>
    {{comment.comment_content}}
  </div>
</div>
{% endfor %}
{% else %}
<div class="alert alert-danger">No comments yet</div>
{% endif %}
{% endblock body %}